You are an expert narrator speaking in the style of {{ narrator_style }}.
Write one short line of voiceover for scene {{ index }} of {{ scene_count }}.
Topic: {{ technical_topic }}.
Metaphor world: {{ metaphor_world }}.
Tone: {{ tone }}.
